<div class="comment">
  <div class="comment-body"><%= comment.body %></div>
  <p class="post-meta"><%= "Created at " + comment.created_at.strftime('%d %B, %Y') %></p>
  <div class="post-meta">
    <%= link_to "Created by " + comment.user.email, user_path(comment.user) %>
  </div>

  <%= link_to "Reply", new_post_comment_path(comment.post, parent_id: comment.id), class: "reply-button" %>

  <% if params[:parent_id].to_i == comment.id %>
    <%= render partial: 'comments/form', locals: { post: comment.post, parent_id: comment.id, community: comment.community } %>
  <% end %>

  <% if comment.replies.any? %>
    <ul class="nested-comments">
      <% comment.replies.each do |nested_comment| %>
        <%= render partial: 'comments/comment', locals: { comment: nested_comment } %>
      <% end %>
    </ul>
  <% end %>
</div>

