<%= form_tag(search_index_path, method: "get") do %>
  <!-- Buscar en -->
  <div>
    <%= label_tag(:search_type, "Search in:", class: "form-label") %>
    <%= select_tag(:search_type, options_for_select([ "Comments","Posts"]), class: "form-select-large") %>
  </div>

  <!-- Título -->
  <div>
    <%= label_tag(:query, "Title:", class: "form-label") %>
    <%= text_field_tag(:query, nil, class: "form-text-field-input") %>
  </div>

  <!-- Botón de envío -->
  <div style="padding-top: 16px">
    <%= submit_tag "Search", class: "generic-button" %>
  </div>
<% end %>

<% if params[:query].present? %>

  <% if @results.present? %>
    <h2>Results:</h2>
    <ul>
      <% @results.each do |result| %>
        <% if params[:search_type] == "Posts"%>
          <li><%= link_to result.title, post_path(result) %></li>
        <% else %>
         <li><%= result.body %></li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>Results don't found.</p>
  <% end %>
<% end %>
