<%= stylesheet_link_tag "buttons", "forms" %>

<div class="images-container">
  <div class="banner-container">
    <%= image_tag current_user.banner, class: "banner-image" rescue "No banner" %>
  </div>
  <div class="avatar-container">
    <%= image_tag current_user.avatar, class: "avatar-image" rescue "No avatar" %>
  </div>
</div>

<div class="post-container">
  <div class="post-content">
    <h1 class="post-title"><%= current_user.email %></h1>
    <p class="post-meta"><%= "Created at " + current_user.created_at.strftime('%d %B, %Y') %></p>

    <!-- Número de publicaciones -->
    <p><strong>Publicaciones:</strong> <%= current_user.posts.count %></p>

    <!-- Número de comentarios -->
    <p><strong>Comentarios:</strong> <%= current_user.comments.count %></p>

    <%= link_to "Edit profile", edit_user_path(current_user) %> |
  </div>
</div>
