<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
          <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <% if @user.avatar.present? %>
                  <%= image_tag @user.avatar, alt: "img-avatar", class: "avatar-image" %>
                <% else %>
                  <%= image_tag "user_default.png", alt: "img-avatar", class: "avatar-image" %>
                <% end %>
                <% if current_user == @user %>
                  <%= link_to edit_user_path(@user), class: "boton-avatar" do %>
                    <i class="fas fa-pen"></i>
                  <% end %>
                <% end %>

            </div>
            <% if @user.banner.present?%>
              <%= image_tag @user.banner, alt: "img-portada", class: "banner-image" %>
            <% else %>
               <%= image_tag "banner_dafault.jpeg", alt: "img-portada", class: "banner-image" %>
            <% end %>
        </div>


          <div class="perfil-usuario-body">

            <div class="perfil-usuario-bio">
                <h3 class="titulo"><%= @user.full_name %></h3>
                <h4 class="titulo2"><%= @user.email %></h4>
                <p class="texto"><%= @user.biography %></p>

            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li>
                      <% if @user.birthday.present? %>
                        <i class="icono fas fa-calendar-alt"></i> <%= @user.birthday.strftime('%d %B, %Y') %>
                      <% else %>
                        <i class="icono fas fa-calendar-alt"></i> Birthday
                      <% end %>
                    </li>

                    <li><i class="icono fas fa-user-check"></i>  <%= @user.created_at.strftime('%d %B, %Y') %></li>
                    <li><i class="icono fas fa-newspaper"></i> <%=  @user.posts.count.to_s + " posts" %></li>
                    <li><i class="icono fas fa-comments"></i> <%= @user.comments.count.to_s + " comments"  %></li>
                </ul>
            </div>
          </div>

          <!-- app/views/users/show.html.erb -->
        <div class="menu-perfil">
          <%= form_tag(user_path(@user), method: :get, class: "select-form") do %>
            <%= button_tag(type: 'submit', name: 'content_type', value: 'Posts', class: 'generic-button') do %>
              <i class="fas fa-newspaper"></i> Show Posts
            <% end %>

            <%= button_tag(type: 'submit', name: 'content_type', value: 'Comments', class: 'generic-button') do %>
              <i class="fas fa-comments"></i> Show Comments
            <% end %>
            <%if current_user %>
              <%= button_tag(type: 'submit', name: 'content_type', value: 'SavedPosts', class: 'generic-button') do %>
                <i class="fas fa-bookmark"></i> Show Saved Posts
              <% end %>

              <%= button_tag(type: 'submit', name: 'content_type', value: 'SavedComments', class: 'generic-button') do %>
                <i class="fas fa-bookmark"></i> Show Saved Comments
              <% end %>
            <% end %>
          <% end %>

          <% if params[:content_type] == "Posts" %>
            <!-- Lista de posts del usuario -->
            <h2 style="color: white;">User's Posts</h2>
            <% if @user.posts.any? %>
              <ul>
                <% @user.posts.each do |post| %>
                  <li>
                    <%= link_to post.title, post_path(post) %><br>
                    <!-- Agrega cualquier informaci贸n adicional del post que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no posts.</p>
            <% end %>
          <% elsif params[:content_type] == "Comments" %>
            <!-- Lista de comentarios del usuario -->
            <h2>User's Comments</h2>
            <% if @user.comments.any? %>
              <ul>
                <% @user.comments.each do |comment| %>
                  <li>
                    <%= comment.body %>
                    <!-- Agrega cualquier informaci贸n adicional del comentario que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no comments.</p>
            <% end %>
          <% elsif params[:content_type] == "SavedPosts" %>
            <!-- Lista de SavedPosts del usuario -->
            <h2>User's Saved Posts</h2>
            <% if @user.saved_posts.any? %>
              <ul>
                <% @user.saved_posts.each do |saved_post| %>
                  <li>
                    <%= link_to saved_post.post.title, post_path(saved_post.post) %>
                    <!-- Agrega cualquier informaci贸n adicional del saved_post que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no saved posts.</p>
            <% end %>
          <% elsif params[:content_type] == "SavedComments" %>
            <!-- Lista de SavedComments del usuario -->
            <h2>User's Saved Comments</h2>
            <% if @user.saved_comments.any? %>
              <ul>
                <% @user.saved_comments.each do |saved_comment| %>
                  <li>
                    <%= saved_comment.comment.body %>
                    <!-- Agrega cualquier informaci贸n adicional del saved_comment que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no saved comments.</p>
            <% end %>
          <% end %>
        </div>

</section>

<hr/>
</div>