<%= stylesheet_link_tag "buttons", "forms", "pages" %>
<!-- Agrega esto en el encabezado del HTML -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
          <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <%= image_tag @user.avatar, alt: "img-avatar", class: "avatar-image" %>
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
                <button type="button" class="boton-portada">
                    <i class="far fa-image"></i> Cambiar fondo
                </button>
          </div>

          <div class="perfil-usuario-body">

            <div class="perfil-usuario-bio">
                <h3 class="titulo"><%= @user.email %></h3>
                <p class="texto"><%= @user.biography %></p>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas fa-calendar-alt"></i> Birthday. </li>
                    <li><i class="icono fas fa-user-check"></i>  <%= @user.created_at.strftime('%d %B, %Y') %></li>
                    <li><i class="icono fas fa-newspaper"></i> <%=  @user.posts.count %></li>
                    <li><i class="icono fas fa-comments"></i> <%= @user.comments.count %></li>
                </ul>
            </div>
          </div>

          <div class="menu-perfil">
            <%= form_tag(user_path(@user), method: :get, class: "select-form") do %>
              <%= button_tag(type: 'submit', name: 'content_type', value: 'Posts', class: 'generic-button') do %>
                <i class="fas fa-newspaper"></i> Show Posts
              <% end %>

              <%= button_tag(type: 'submit', name: 'content_type', value: 'Comments', class: 'generic-button') do %>
                <i class="fas fa-comments"></i> Show Comments
              <% end %>
            <% end %>


            </ul>
          </div>
          <% if params[:content_type] == "Posts" %>
            <!-- Lista de posts del usuario -->
            <h2>User's Posts</h2>
            <% if @user.posts.any? %>
              <ul>
                <% @user.posts.each do |post| %>
                  <li>
                    <%= link_to post.title, post_path(post) %>
                    <!-- Agrega cualquier información adicional del post que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no posts.</p>
            <% end %>
          <% elsif params[:content_type] == "Comments" %>
            <!-- Lista de comentarios del usuario -->
            <h2>User's Comments</h2>
            <% if @user.comments.any? %>
              <ul>
                <% @user.comments.each do |comment| %>
                  <li>
                    <%= comment.body %>
                    <!-- Agrega cualquier información adicional del comentario que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no comments.</p>
            <% end %>
          <% end %>
      </div>
</section>


  <%= link_to "Edit profile", edit_user_path(@user) %>

<hr/>
</div>