<%= stylesheet_link_tag "buttons", "forms", "pages" %>
<!-- Agrega esto en el encabezado del HTML -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="shadow-sm">
  <nav class="navbar navbar-expand-md navbar-light p-0 px-3 container-lg" id="navbar">
    <a class="d-flex align-items-center navbar-brand me-md-3 active" aria-current="true" id="navTitle" title="A collection of programming communities" href="/">
      <picture>
        <source srcset="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png?format=webp&amp;thumbnail=96" type="image/webp">
        <source srcset="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png">
        <source srcset="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png?format=jpg&amp;thumbnail=96" type="image/jpeg">
        <img class="overflow-hidden pictrs-image object-fit-cover img-icon me-1" src="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png" alt="" title="" loading="lazy">
      </picture>
      programming.dev
    </a>
    <button class="navbar-toggler border-0 p-1" type="button" aria-label="menu" data-tippy-content="Expandeix ací" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false">
      <svg class="icon">
        <use xlink:href="/static/68330f7/assets/symbols.svg#icon-menu"></use>
        <div class="visually-hidden">
          <title>menu</title>
        </div>
      </svg>
    </button>
    <div class="collapse navbar-collapse my-2" id="navbarDropdown">
      <ul class="me-auto navbar-nav" id="navbarLinks">
        <li class="nav-item"><a class="nav-link" title="Comunitats" href="/communities">Comunitats</a></li>
        <li class="nav-item"><a class="nav-link" title="Crear publicació" href="/create_post">Crear publicació</a></li>
        <li class="nav-item">
          <a class="nav-link d-inline-flex align-items-center d-md-inline-block" title="Dóna suport a Lemmy" href="https://join-lemmy.org/donate">
            <svg class="icon small">
              <use xlink:href="/static/68330f7/assets/symbols.svg#icon-heart"></use>
              <div class="visually-hidden">
                <title>heart</title>
              </div>
            </svg>
            <span class="d-inline ms-1 d-md-none ms-md-0">Dóna suport a Lemmy</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav" id="navbarIcons">
        <li class="nav-item" id="navSearch">
          <a class="nav-link d-inline-flex align-items-center d-md-inline-block" title="Cerca" href="/search">
            <svg class="icon">
              <use xlink:href="/static/68330f7/assets/symbols.svg#icon-search"></use>
              <div class="visually-hidden">
                <title>search</title>
              </div>
            </svg>
            <span class="d-inline ms-1 d-md-none ms-md-0">Cerca</span>
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" title="Inicia una sessió" href="/login">Inicia una sessió</a></li>
        <li class="nav-item"><a class="nav-link" title="Crea un compte" href="/signup">Crea un compte</a></li>
      </ul>
    </div>
  </nav>
</div>













<section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
          <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <%= image_tag @user.avatar, alt: "img-avatar", class: "avatar-image" %>
                <% if @usuario_actual == @usuario_visto %>
                  <%= link_to edit_user_path(@user), class: "boton-avatar" do %>
                    <i class="fas fa-pen"></i>
                  <% end %>
                <% end %>

            </div>
            <%= image_tag @user.banner, alt: "img-portada", class: "banner-image" %>
        </div>


          <div class="perfil-usuario-body">

            <div class="perfil-usuario-bio">
                <h3 class="titulo"><%= @user.full_name %></h3>
                <h4 class="titulo2"><%= @user.email %></h4>
                <p class="texto"><%= @user.biography %></p>

            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li>
                      <% if @user.birthday.present? %>
                        <i class="icono fas fa-calendar-alt"></i> <%= @user.birthday.strftime('%d %B, %Y') %>
                      <% else %>
                        <i class="icono fas fa-calendar-alt"></i> Birthday
                      <% end %>
                    </li>

                    <li><i class="icono fas fa-user-check"></i>  <%= @user.created_at.strftime('%d %B, %Y') %></li>
                    <li><i class="icono fas fa-newspaper"></i> <%=  @user.posts.count.to_s + " posts" %></li>
                    <li><i class="icono fas fa-comments"></i> <%= @user.comments.count.to_s + " comments"  %></li>
                </ul>
            </div>
          </div>

          <div class="menu-perfil">
            <%= form_tag(user_path(@user), method: :get, class: "select-form") do %>
              <%= button_tag(type: 'submit', name: 'content_type', value: 'Posts', class: 'generic-button') do %>
                <i class="fas fa-newspaper"></i> Show Posts
              <% end %>

              <%= button_tag(type: 'submit', name: 'content_type', value: 'Comments', class: 'generic-button') do %>
                <i class="fas fa-comments"></i> Show Comments
              <% end %>
            <% end %>


            </ul>
          </div>
          <% if params[:content_type] == "Posts" %>
            <!-- Lista de posts del usuario -->
            <h2>User's Posts</h2>
            <% if @user.posts.any? %>
              <ul>
                <% @user.posts.each do |post| %>
                  <li>
                    <%= link_to post.title, post_path(post) %>
                    <!-- Agrega cualquier información adicional del post que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no posts.</p>
            <% end %>
          <% elsif params[:content_type] == "Comments" %>
            <!-- Lista de comentarios del usuario -->
            <h2>User's Comments</h2>
            <% if @user.comments.any? %>
              <ul>
                <% @user.comments.each do |comment| %>
                  <li>
                    <%= comment.body %>
                    <!-- Agrega cualquier información adicional del comentario que desees mostrar -->
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>There are no comments.</p>
            <% end %>
          <% end %>
      </div>
</section>

<hr/>
</div>