<%= stylesheet_link_tag "buttons", "forms" %>

<h1>Programmer.dev</h1>

<div class="view_apage">


    <!-- Body -->

    <!--%= link_to "sortByVotes", homeVoted(sort: "votes", direction: params[:direction] == "asc" ? "desc" : "desc") %-->
    <!--%= link_to "sortByOldest", homeOlder(sort: "createdAt", direction: params[:direction] == "asc" ? "desc" : "asc") %-->
    <!--%= link_to "sortByComments", issues_path(sort: "id", direction: params[:direction] == "asc" ? "desc" : "desc") %-->

    <%= link_to "LlistaComunitats", "communities/index" %>
    <%= link_to "CreatePost", "posts/new" %>
    <%= link_to "CreateComunitat", "communities/new" %>
    <%= link_to "Sort", "posts#homeNewt" %>

    <h2><%= "Todos los posts" %></h2>
    <% if @posts.empty? then %>
        there seems to be no posts
    <% else %>
      <% @posts.each do |post| %>

          <div class="post-container">
          <h1 class="post-title"><%= link_to post.title, post %>
          <div class="post-meta"><%= "Created at " + post.created_at.strftime('%d %B, %Y') %></div></h1>
          <p class="post-url"><%= post.url %></p>
          <div class="post-content">
            <%= post.body %>
          </div>
          <p class="post-meta"></p>

           <%= link_to "Created by " + post.user.email, user_path(post.user) %>
          </div>



      <% end %>
    <% end %>


  </div>
  <% if current_user %>
    <h2><%= current_user.email %></h2>

    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Create Account", new_user_registration_path %>
  <% end %>
