<%= stylesheet_link_tag "buttons", "forms" %>

<h1>Programmer.dev</h1>

<div class="view_apage">


    <!-- Body -->


    <h2><%= "Todos los posts" %></h2>
    <% if @posts.empty? then %>
        there seems to be no posts
    <% else %>
      <% @posts.each do |post| %>
        <li class="post-class">
          <div class="post-author"><%= post.author %></div>
          <div class="post-body"><%= post.body %></div>
          <%= link_to "Show this post", post %>
        </li>
      <% end %>
    <% end %>

    <h2><%= "Comunitats" %></h2>
    <ul class="community-list"></u1>


  </div>
  <% if current_user %>
    <h2><%= current_user.email %></h2>
    <%= image_tag(current_user.avatar_url) %>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Create Account", new_user_registration_path %>
  <% end %>
