<%= stylesheet_link_tag "buttons", "forms" %>

<div class="post-container">
  <h1 class="post-title"><%= @post.title %></h1>
  <p class="post-meta"><%= "Created at " + @post.created_at.strftime('%d %B, %Y') %></p>
  <div class="post-meta">
   <%= link_to "Created by " + @post.user.email, user_path(@post.user) %>
  </div>

  <div class="post-content">
    <%= @post.body %>
  </div>
  </div>
    <form class="vote-form" data-voted="false">
        <div>
            <button type="button" class="vote-up">+</button>
            <span class="vote-count">0</span>
            <button type="button" class="vote-down">-</button>
        </div>
    </form>

  <div class="comments-section">
    <h2><%= "Comments" %></h2>
    <ul class="comments-list">
      <% @post.comments.each do |comment| %>
        <li class="comment">
          <div class="comment-body"><%= comment.body %></div>
        </li>
      <% end %>
    </ul>
  </div>

  <h2><%= "Add a comment" %></h2>
  <%= form_with(model: [@post, Comment.new], local: true, html: { class: "comment-form" } ) do |form| %>
    <div class="field">
      <%= form.text_area :body, placeholder: "Write your comment here", class: "form-text-input__inner" %>
    </div>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= form.collection_select :community_id, Community.all, :id, :name %>
    </div>
    <div class="actions">
      <%= form.submit "Comenta", class: "generic-button" %>
    </div>
  <% end %>
</div>
</div>
<script>
    document.querySelectorAll('.vote-form').forEach(form => {
        form.addEventListener('click', event => {
            const button = event.target;
            if (button.matches('.vote-up') || button.matches('.vote-down')) {
                vote(button);
            }
        });
    });

    function vote(button) {
        const form = button.closest('.vote-form');
        const voteCount = form.querySelector('.vote-count');

        const alreadyVoted = form.dataset.voted === 'true';
        const voteValue = button.classList.contains('vote-up') ? 1 : -1;

        // Cambiar el voto o deshacerlo
        if (alreadyVoted && voteValue === parseInt(voteCount.textContent)) {
            voteCount.textContent = 0;
            form.dataset.voted = 'false';
        } else {
            voteCount.textContent = voteValue;
            form.dataset.voted = 'true';
        }
    }
</script>