<%= stylesheet_link_tag "buttons", "forms", "application" %>

<div class="post-container">
  <h1 class="post-title"><%= @post.title %></h1>
  <div class="post-meta"><%= "Created at " + @post.created_at.strftime('%d %B, %Y') %>
   <%= link_to "Created by " + @post.user.email, user_path(@post.user) %>

    <% if current_user == @post.user %>
      <%= link_to 'Delete','/posts/delete/'+ @post.id.to_s, method: :delete%>
      <%= link_to "Edit",edit_post_path(@post), method: :get%>
    <% end %>  
  </div>
 
  <div class="post-score">
    Total score:    <%= @post.points %>
    <%= link_to '▲','/posts/like/'+ @post.id.to_s, method: :post%>
    <%= link_to '▼','/posts/dislike/'+ @post.id.to_s, method: :post%>
  </div>
  
  <div class="post-body">
  <p></p>
    <h4><%= @post.body %> </h4>
  </div>

  <div class="comments-section">
    <h2><%= "Comments" %></h2>
    <ul class="comments-list">
      <% @post.comments.where(parent_id: nil).each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    </ul>
  </div>


  <% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { post: @post, community: @community } %>
  
  <% else %>
  <p>Debes iniciar sesión para dejar un comentario.</p>
  <% end %>

</div>
