<div id="<%= dom_id community %>">
  <p>
    <strong>C:</strong>
    <%= community.c_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= community.name %>
  </p>

  <%= image_tag(@community.avatar) %>
  <%= image_tag(@community.banner) %>


</div>
