<div id="<%= dom_id community %>">
  <div class="banner-container">
    <%= image_tag community.banner, class: "banner-image" rescue "No banner" %>
  </div>
  <div class="avatar-container">
    <%= image_tag community.avatar, class: "avatar-image" rescue "No avatar" %>
  </div>
  <h1><%= community.name %></h1>
  <span><%= community.identifier %></span>

</div>
