<div class="profile-page">
  <% if notice %>
    <div class="success-container">
      <%= notice %>
    </div>
  <% end %>
  <%= render @community %>

  <div>
    <%= link_to "Edit this community", edit_community_path(@community), class: "generic-button" %>

    <%= link_to "Back to communities", communities_path, class: "generic-button" %>

    <%= button_to "Destroy this community", @community, method: :delete, class: "cancel-button" %>
  </div>

</div>