<div class="profile-page">
  <%= render @community %>

 <div class="menu-perfil">


<center>

  <%= link_to "See posts", { filter: 'posts' }, class: "generic-button" %>

   <%= link_to "See comments", { filter: 'comments' }, class: "generic-button" %>

<center>

  <br>
  <% if params[:filter] == 'comments' %>
    <center>
      <%= link_to "Newest", { filter: 'comments', sort: 'newest' }, class: "generic-button" %>
      <%= link_to "Oldest", { filter: 'comments', sort: 'oldest' }, class: "generic-button" %>
      <%= link_to "Most voted", { filter: 'comments', sort: 'top' }, class: "generic-button" %>
      <%= link_to "Controversial", { filter: 'comments', sort: 'controversial' }, class: "generic-button" %>
    </center>

    <br>

    <% if @comments.empty? %>
      <center>There seems to be no comments</center>
    <% else %>
      <% @comments.each do |com| %>
        <%= render com %>
      <% end %>
    <% end %>
  <% end %>

  <% if params[:filter] == 'posts' %>
    <center>
      <%= link_to "Newest", { filter: 'posts', sort: 'newest' }, class: "generic-button" %>
      <%= link_to "Oldest", { filter: 'posts', sort: 'oldest' }, class: "generic-button" %>
      <%= link_to "Most voted", { filter: 'posts', sort: 'top' }, class: "generic-button" %>
      <%= link_to "Controversial", { filter: 'posts', sort: 'controversial' }, class: "generic-button" %>
    </center>
<br>
    <% if @posts.empty? %>
      <center>There seems to be no posts</center>
    <% else %>
      <% @posts.each do |post| %>
        <div class="post-container">
        <h1 class="post-title"><%= link_to post.title, post %>
        <%if current_user.saved_posts.exists?(post: post) %>
                  <%= link_to "unsave_post", unsave_post_path(post), method: :delete %>
                <% else %>
                  <%= link_to "save_post", save_post_path(post), method: :post %>
                <% end %>
        <div class="post-meta"><%= "Created at " + post.created_at.strftime('%d %B, %Y') %></div></h1>
        <p class="post-url"><%= post.url %></p>
        <div class="post-content">
          <%= post.body %>
        </div>
        <p class="post-meta"></p>
        <!--% if current_user.email.eql?(post.user.email) then %-->
          <%= link_to "Delete this post", +post.id.to_s+"/destroy" %> <br> <!--falta el link-->
          <%= link_to "Edit this post", +post.id.to_s+"/edit" %> <br><!--falta el link-->
          <!--% end %-->
         <%= link_to "Created by " + post.user.email, user_path(post.user) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<section>
  <hr/>
</section>
</div>
