<nav class="appbar">
    <!-- Web logo, home link and buttons -->
    <div>
        <%= image_tag("programming_dev.png", class: "appbar-logo") %>
        <%= link_to "programming.dev", '/home', class: "appbar-home-link" %>
        <%= link_to "Communities", communities_path, class: "appbar-button" %>
        <% if current_user %>
            <%= link_to "Create Post", new_post_path, class: "appbar-button" %>
        <% else %>
            <%= link_to "Create Post", new_user_session_path, class: "appbar-button" %>
        <% end %>
    </div>

    <!-- User -->
    <div>
        <% if current_user %>
            <!-- Current user profile link -->
            <%= link_to "", search_path, class: 'icono fas fa-search appbar-button' %>
            <%= link_to current_user, class: "appbar-button appbar-email" do %>
                <!-- Avatar -->
                <% if current_user.avatar.present? %>
                    <%= image_tag current_user.avatar, class: "appbar-avatar" %>
                <% else %>
                    <%= content_tag :i, "", class: "icono fas fa-users appbar-avatar", alt: "Default User Avatar" %>
                <% end %>
                <!-- Name -->
                <%= current_user.email %>
            <% end %>
            <!-- Logout -->
            <%= form_for(current_user, url: destroy_user_session_path, method: :delete) do |f| %>
                <button type="submit" class="appbar-button appbar-button-no-background">Log out</div>
            <% end %>

        <!-- Login -->
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "appbar-button" %>
        <% end %>
    </div>
</nav>