<!DOCTYPE html>
<html>
  <head>
    <title>Programming.dev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>



<%= stylesheet_link_tag "buttons", "forms" %>


<body>
  <header class ="header" >
    <picture><source srcset="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png?format=webp&amp;thumbnail=96" type="image/webp"><source srcset="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png"><source srcset="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png?format=jpg&amp;thumbnail=96" type="image/jpeg"><img class="overflow-hidden pictrs-image object-fit-cover img-icon me-1" src="https://programming.dev/pictrs/image/1e947440-0f0d-4768-ba4b-1480551e7cc9.png" alt="" title="" loading="lazy"></picture>

    <nav>
      <ul class="nav-links">
        <li><a href="posts#home">programming.dev</a></li>
        <li><a href="communities#index">Communities</a></li>
        <li><a href="posts/new">New Post</a></li>
        <a href="search#index" class="icono fas fa-search"></a>
        <% if current_user %>
          <%= link_to "View profile", current_user %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </ul>
    </nav>
  </header>
</body>


<hr>


    <%= yield %>
  </body>
</html>
